{
	"bucketConfigName": "alpha-brussels-config-bucket",
	"bucketPrefix": "alpha-brussels-",
	"codename": "brussels",
	"domainBase": "",
	"domainPrefix": "",
	"domainStage": "",
	"emailDefaultSender": "no-reply@alpha.rememberval.com",
	"githubRef": "development",
	"githubRefType": "branch",
	"githubRepository": "",
	"githubServerUrl": "",
	"githubSha": "8feee15f3d006b99da398d8459967114c4bc3d8h",
	"hCaptchaSecret": "nahhhh",
	"isBranch": false,
	"isMerge": false,
	"isProd": false,
	"isTag": false,
	"projectName": "Remember Val",
	"secretNextAuth": "n/a",
	"stackPrefix": "AlphaBrussels",
	"stage": "local",
	"topicBounceComplaintEmail": "nahhhh@nahhhh.com"
}
